*{
   
    margin:0;
    padding:0;
    
}
.main{
    background-color: #fff;
    background-position: center;
    background-size: cover;
    height:auto;
    background:linear-gradient(rgba(8, 3, 21, 0.527), rgba(5, 2, 23, 0.5)),url('/Images/background.jpg');
    height: 150vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.8; */
}
.navbar{
    width:1200px;
    height:170px;
    z-index: 100000;
}
.icon{
    width:250px;
    float:left;
    height:90 ;
}
.logo{
color: rgb(82, 20, 164);
text-shadow: 1px 1px rgb(150, 90, 229);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 50px;
float:left;
padding-left: 50px;
padding-top: 30px;
}
.menu{
   width:400px;
   float:left;
   height: 70px;
}
.menu ul{
   float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}
.menu ul li{
    list-style-type: none;
    font-weight: bold;
   margin-top: 100px;
   padding-left: 50px;
   padding-right: 30px;
}
.menu ul li a{
    
    text-decoration-line: none;
    color: rgb(114, 114, 114);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    transition: 0.4s ease-in-out;
}
.menu ul li a:hover{
    color: rgb(46, 3, 102);
}
/* .menu  li> button{
    background-color: rgb(46, 3, 102);
    color:#fff;
    height:30px;
    width: 80px;
    border-radius: 10px;
    float: right;
    font-size: 16px;
    font-weight: bold;
} */
/* .menu li> button:hover{
background-color:rgb(98, 45, 167);
} */

h2{
    color:rgb(255, 255, 255);
    padding-top: 45px;
    padding-left: 1.5em;
    font-size: 35px;
}

#footer{
    color: white;
    font-size: 20px;
    background-color:rgb(98, 45, 167) ;
    padding: 0.5em;
}
#footer a{
    color: white;
    text-decoration: none;
}
/* .profile{
    color: white;
    margin: 1em;
    padding: 1.5em;
    background: rgb(98, 45, 167);
} */

#jobs{
    background-color: rgb(98, 45, 167);
    color: white;
    padding: 1.5em;
}
/* ul#jobs  li{
    list-style: none;
} */